@import "tailwindcss";
@import "./notion.css";

:root {
  --background: #fffdfa;
  --foreground: #31322d;
  --color-primary: #ff7d31;
  --color-secondary: #c2ebc4;
  --font-lxgw_mono: "LXGW WenKai Mono";
  --font-loreka: "Loreka";
}

.dark {
  --background: #31322d;
  --foreground: #fffdfa;
  --color-primary: #ff7d31;
  --color-secondary: #c2ebc4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #31322d;
    --foreground: #fffdfa;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-loreka: var(--font-loreka);
  --font-lxgw_mono: var(--font-lxgw_mono);
}

/* @utility text-semibold {
  -webkit-text-stroke: 0.1px currentColor;
}

@utility text-bold {
  -webkit-text-stroke: 0.2px currentColor;
} */
